{% extends "base/base.html" %}

{% block title %}Manage Users{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/manage_users.css') }}">
{% endblock %}
{% block content %}
<h2>Manage Users</h2>

<!-- Display flash messages -->
{% include "ext/flash_message.html" %}

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>User Level</th>
            <th>Change Level</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.user_level }}</td>
            <td>
                <form method="POST">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <select name="user_level">
                        <option value="customer" {% if user.user_level == 'customer' %}selected{% endif %}>Customer</option>
                        <option value="admin" {% if user.user_level == 'admin' %}selected{% endif %}>Admin</option>
                    </select>
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
