{% extends 'base/base.html' %}
{% block title %}Pricing Plans{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pricing.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Pricing Plans</h1>
    <div class="card">
        <div class="card-header">
            <h2>Basic Plan</h2>
        </div>
        <div class="card-body">
            <h3>₹5000</h3>
            <p>Includes basic features for a single user.</p>
            <ul>
                <li>Basic calculations</li>
                <li>Standard support</li>
            </ul>
            <a href="mailto:deepak008@live.com" class="btn btn-custom">Contact Us</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Pro Plan</h2>
        </div>
        <div class="card-body">
            <h3>₹10000</h3>
            <p>Includes advanced features and priority support.</p>
            <ul>
                <li>Advanced calculations</li>
                <li>Priority support</li>
                <li>Additional customization options</li>
            </ul>
            <a href="mailto:deepak008@live.com" class="btn btn-custom">Contact Us</a>
        </div>
    </div>

    <!-- <div class="card">
        <div class="card-header">
            <h2>Enterprise Plan</h2>
        </div>
        <div class="card-body">
            <h3>₹20000</h3>
            <p>Custom solution tailored for large organizations.</p>
            <ul>
                <li>Custom features</li>
                <li>Dedicated support</li>
                <li>Full customization and integration</li>
            </ul>
            <a href="#" class="btn btn-custom">Contact Us</a>
        </div>
    </div> -->
</div>
{% endblock %}