.dashboard-container {
    background-color: #e6ffe6; /* Light green background */
    border-left: 5px solid #28a745; /* Green border */
    margin-top: 80px;
}

.dashboard-title {
    color: #28a745;
}
