<nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="{{ url_for('homepage.home') }}">
        <i class="fas fa-home"></i>
        Home
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_.dashboard') }}">
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">
                        <i class="fas fa-user-plus"></i> Sign Up
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/codeperfectplus/GoldSilverBilling" target="_blank">
                    <i class="fab fa-github"></i> Source Code
                </a>
            </li>
        </ul>
    </div>
</nav>
