/* Custom Navbar Styles */
.navbar-custom {
    background-color: #004d99;  /* Dark blue background */
    color: white;
    padding: 10px 20px;  /* Add some padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
}

.navbar-custom .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5em;  /* Increase the font size of the brand */
}

.navbar-custom .navbar-brand:hover {
    color: #d9d9d9;  /* Light grey on hover */
}

.navbar-custom .navbar-toggler {
    border-color: white;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2899, 99, 99, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    margin-right: 15px;
    font-size: 1.1em;  /* Slightly larger font size */
    transition: color 0.3s ease-in-out;  /* Smooth transition on hover */
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #ccccff;  /* Light blue on hover */
}

.navbar-custom .navbar-nav .navbar-text {
    color: #e6e6e6;
    margin-right: 15px;
    font-size: 1.1em;
}

.navbar-custom .navbar-nav .nav-item {
    position: relative;
}

.navbar-custom .navbar-nav .nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ccccff;  /* Underline on hover */
    bottom: -5px;
    left: 50%;
    transition: all 0.3s ease-in-out;
}

.navbar-custom .navbar-nav .nav-item:hover::after {
    width: 100%;
    left: 0;
}

.ml-auto {
    margin-left: auto !important;
}
