{% extends 'base/base.html' %}
{% block title %} Gold Price Bill {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bill.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <!-- Main Content -->
    <div class="main-content">
        <div class="bill-card">
            <h2>Calculation Details (Gold)</h2>
            <div class="details">
                <span><strong>Gold Item Weight:</strong></span>
                <span>{{ weight }} grams</span>
            </div>
            <div class="details">
                <span><strong>Price per gram:</strong></span>
                <span>₹{{ price_per_gram }}</span>
            </div>
            <div class="details">
                <span><strong>Gold Purity</strong></span>
                <span>{{ purity }} Gold</span>
            </div>
            <div class="details">
                <span><strong>Base Price:</strong></span>
                <span>₹{{ bill['Base Price'] | float }}</span>
            </div>
            <div class="details">
                <span><strong>Service Charge ({{ bill['Service Charge Percentage'] }}%):</strong></span>
                <span>₹{{ bill['Service Charge'] | float }}</span>
            </div>
            <div class="details">
                <span><strong>Tax ({{ bill['Tax Percentage'] }}%):</strong></span>
                <span>₹{{ bill['Tax'] | float }}</span>
            </div>
            <div class="details total">
                <span><strong>Total Amount Payable:</strong></span>
                <span>₹{{ bill['Final Price'] | float}}</span>
            </div>
            <p class="text-center mt-4">Final amount rounded to nearest integer</p>
            <p class="text-center mt-4">Thank you for your purchase!</p>
            <div class="text-center">
                <a href="{{ url_for('gold_calculator') }}" class="btn btn-custom mt-3">Calculate Again</a>
                <a href="{{ url_for('silver_calculator') }}" class="btn btn-custom mt-3">Silver Calculator</a>
                <button onclick="window.print()" class="btn btn-primary mt-3">Print PDF</button>
            </div>
        </div>
        <!-- Disclaimer -->
        <div class="disclaimer">
            <p><strong>Disclaimer:</strong> This is not an official bill. It is just an illustration to show the pricing. Partial display of this webpage is not allowed.</p>
        </div>
    </div>
    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Jeweler Details</h2>
        <img src="{{ url_for('static', filename=config['JEWELLER_LOGO']) }}" alt="Jeweler Logo" class="img-fluid" style="max-width: 200px;">
        <p><strong>Name:</strong> {{ config["JEWELLER_NAME"] }}</p>
        <p><strong>Address:</strong> {{ config["JEWELLER_ADDRESS"] }}</p>
        <p><strong>Contact:</strong> {{ config["JEWELLER_CONTACT"] }}</p>
        <p><strong>Email:</strong> {{ config["JEWELLER_EMAIL"] }}</p>
        <p><strong>Website:</strong> {{ config["JEWELLER_WEBSITE"] }}</p>
        <p><strong>GSTIN:</strong> {{ config["JEWELLER_GSTIN"] }}</p>
        <p><strong>Gold Rate(Per gm):</strong> ₹ {{ price_per_gram }} </p>
    </div>
</div>
{% endblock %}
