{% extends 'base/base.html' %}
{% block title %} Home {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}
{% block content %}
<div class="hero mt-4">
    <h1>Welcome to the Pricing Calculator</h1>
    <p>Select a calculator to get started.</p>
    <div class="hero-buttons">
        <a href="{{ url_for('gold_calculator') }}" class="btn btn-hero">Gold Calculator</a>
        <a href="{{ url_for('silver_calculator') }}" class="btn btn-hero">Silver Calculator</a>
    </div>
</div>
{% endblock %}
