{% extends 'base/base.html' %}
{% block title %} Home {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center mb-4">
        <h1>Welcome to the Pricing Calculator</h1>
        <p>Select a calculator to get started.</p>
    </div>
    <div class="card-container">
        <div class="card">
            <h2>Gold Price Calculator</h2>
            <p>Calculate the price of gold based on weight, price per gram, service charge, and tax.</p>
            <a href="{{ url_for('gold_calculator') }}" class="btn btn-custom">Go to Gold Calculator</a>
        </div>
        <div class="card">
            <h2>Silver Price Calculator</h2>
            <p>Estimate the price of silver with similar parameters as the gold calculator.</p>
            <a href="{{ url_for('silver_calculator') }}" class="btn btn-custom">Go to Silver Calculator</a>
        </div>
        <!-- Add more cards as needed -->
        <!-- <div class="card">
            <h2>Other Calculator</h2>
            <p>Explore other pricing calculators that might be available.</p>
            <a href="{{ url_for('other_calculators') }}" class="btn btn-custom">Go to Other Calculator</a>
        </div> -->
    </div>
</div>
{% endblock %}
