{% extends 'base/base.html' %}
{% block title %}Gold/Silver Calculator | HomePage{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
{% block content %}
<div class="hero">
    <h1>Welcome to the Pricing Calculator</h1>
    <p>Select a calculator to get started.</p>
    <div class="hero-buttons">
        <a href="{{ url_for('gold_calculator') }}" class="btn btn-hero">
            <i class="fa-solid fa-coins fa-lg"></i> Gold Calculator
        </a>
        <a href="{{ url_for('silver_calculator') }}" class="btn btn-hero">
            <i class="fa-solid fa-gem fa-lg"></i> Silver Calculator
        </a>
        <a href="{{ url_for('features') }}" class="btn btn-hero">
            <i class="fa-solid fa-medal fa-lg"></i> Features
        </a>
        <a href="{{ url_for('pricing') }}" class="btn btn-hero">
            <i class="fa-solid fa-money-check-dollar fa-lg"></i> Pricing
        </a>
    </div>
</div>
{% endblock %}
