{% extends "base/base.html" %}
{% block title %}Silver Price Calculator{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calculator.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <!-- Main Content -->
    <div class="main-content">
        <h1>Silver Price Calculator</h1>
        <p class="text-center">Get accurate silver prices with our easy-to-use calculator!</p>
        <form action="/silver-calculator" method="POST" class="shadow p-4 bg-white rounded">
            <div class="form-group">
                <label for="weight">Weight (grams): <i class="fa-solid fa-scale-balanced"></i></label>
                <input type="number" id="weight" name="weight" step="0.01" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="purity">Purity (%): <i class="fa-solid fa-magnifying-glass"></i></label>
                <input type="number" id="purity" name="purity" step="0.1" max="100" min="0" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="price_per_gram">Price (per gm) {{ currency_symbol }}: <i class="fa-solid fa-weight-hanging"></i></label>
                <input type="number" id="price_per_gram" name="price_per_gram" step="0.01" class="form-control" value="{{ price_per_gram }}" required>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="service_charge">Service Charge (%): <i class="fa-solid fa-file-invoice-dollar"></i></label>
                    <input type="number" id="service_charge" name="service_charge" step="0.1" value="{{ service_charge }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="tax">Tax (%): <i class="fa-solid fa-file-invoice-dollar"></i></label>
                    <input type="number" id="tax" name="tax" step="0.1" value="{{ tax }}" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-hero btn-block mt-4">Generate Estimate Bill</button>
            {% if current_user.is_authenticated %}
                {% if current_user.user_level == 'admin' %}
                    <a href="{{ url_for('history') }}" class="btn btn-hero mt-2">Previous History</a>
                {% endif %}
            {% endif %}
        </form>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Jeweler Details</h2>
        <img src="{{ url_for('static', filename=config['JEWELLER_LOGO']) }}" alt="Jeweler Logo" class="img-fluid" style="max-width: 200px;">
        <p><strong>Name:</strong> {{ config['JEWELLER_NAME'] }}</p>
        <p><strong>Address:</strong> {{ config['JEWELLER_ADDRESS'] }}</p>
        <p><strong>Contact:</strong> {{ config['JEWELLER_CONTACT'] }}</p>
        <p><strong>Email:</strong> {{ config['JEWELLER_EMAIL'] }}</p>
        <p><strong>Website:</strong> {{ config['JEWELLER_WEBSITE'] }}</p>
        <p><strong>GSTIN:</strong> {{ config['JEWELLER_GSTIN'] }}</p>
        <p><strong>Silver Rate (Per gm):</strong> {{ currency_symbol }} {{ price_per_gram }}</p>
    </div>
</div>
{% endblock %}
